:root {
    --pst-color-link: #665DC0;
}

.headerbtn, div {
    background-color: #F1F0F9;
}

pre {
    background-color: #DDDBF1;
}

span.pre, h1 {
    color: #4E45B0;
}

nav, a.reference, a.reference.internal, a.reference.external, div.prev-next-info, a.left-prev, p.prev-next-subtitle { 
    background-color: #F1F0F9;
    color: #4E45B0;
}